<h1>Your Text Analysis for <%= @analyzed_text.text %></h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants %></h2>

<% @letterm = @analyzed_text.most_used_letter.map {|a,b| a }.first.upcase %>
<% @letterc = @analyzed_text.most_used_letter.map {|a,b| b }.first %>
<h2>Most Common Letter: <%= @letterm %>, used <%= @letterc %> times</h2>
